<%= render :partial => "shared/navbar" %>

<h1>Edit <%= resource_name.to_s.humanize %></h1>

<div id="edit_user">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class= "avatar_field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
    
    <div class="field">
      <%= f.label "Username:", class: "edit_label" %>
      <%= f.text_field :username, class: "edit_info", placeholder: "Username" %>
    </div>
    <hr>
    <div class="field">
      <%= f.label "Email:", class: "edit_label" %>
      <%= f.email_field :email, autofocus: true, class: "edit_info", placeholder: "Email" %>
    </div>
    <hr>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="field">
      <%= f.label "Password:", class: "edit_label" %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", class: "edit_info", placeholder: "Password" %>
    </div>
    <hr>
    <div class="field">
      <%= f.label "Password Confirmation:", class: "edit_label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "edit_info", placeholder: "Confirm New Password" %>
    </div>
    <hr>
    <div class="field">
      <%= f.label "Current Password:", class: "edit_label" %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "off", class: "edit_info", placeholder: "Current Password" %>
    </div>
    
    <div class="actions">
      <%= f.submit "Update", class: "update_button" %>
    </div>
  <% end %>
</div>
<br>
<hr>

<h3>ACCOUNT DELETION</h3>

<div id="delete_acc">
  <p>WHYY YOU NOT HAPPY? TOO COOL FOR US? </p>
  <div class="delete">
    <%= button_to "DELETE MY ACCOUNT", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
  <span><%= link_to "Back", :back %></span>
  </div>
</div>

<hr>
